@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
}

.logo {
  width: 40px;
}

nav.navbar {
  margin: auto;
  width: 100%;
  max-width: 1200px;
  background-color: transparent;
  height: 100px;
}

.nav-link {
  font-size: 15px;
  font-weight: 500;
  font-family: "Montserrat", serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 10px;
  padding: 10px;
  transition: all 0.5s ease-in-out;
}

.nav-link:hover {
  background-color: burlywood;
  color: #FFFFFF;
}

.nav-link.active {
  background-color: burlywood;
  color: #FFFFFF;
}