@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*::selection {
  color: #FFFFFF;
  background-color: #009688;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
  color: #FFFFFF;
  background-color: #2b4162;
  background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.logo {
  width: 60px;
}

nav.navbar {
  margin: auto;
  width: 100%;
  max-width: 1200px;
  background-color: transparent;
  height: 100px;
}

.navbar-toggler {
  background-color: #FFFFFF;
}

.nav-link {
  font-size: 15px;
  font-weight: 500;
  font-family: "Montserrat", serif;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 10px;
  padding: 10px;
  transition: 0.4s ease-in-out;
}

.nav-link:hover {
  color: rgb(43, 220, 20);
}

.nav-link.active {
  color: crimson;
}

.row {
  margin: 0;
}

.ad {
  width: 100px;
  border-radius: 10px;
  backdrop-filter: brightness(0.5);
  background-color: #009688;
}

.heading_h1 {
  font-size: 80px;
  font-weight: 200;
}

.heading_h2 {
  font-weight: 200;
  font-size: 55px;
  letter-spacing: 1.5px;
}

.th_or {
  background-color: #009688;
  font-weight: 400;
  padding: 5px;
  border-radius: 10px;
}